{% extends 'home/base.html' %}
{% load static %}
{% block main %}
<link rel="stylesheet" href="{% static 'notes/css/classNotes.css' %}">
<link rel="stylesheet" href="{% static 'clubs/css/clubs.css' %}">
<div class="search">
  <h1>Search Results</h1>

</div>
<div class="post">
  {% if final %}
  {% for post in final %}
  <h4>{{post.heading }}</h4>
  {% if post.pdf %}
  <div class="pdf">
    <a href="/media/{{ post.pdf }}"><p>PDF LINK:   {{ post.heading }}</p></a>
  </div>
  {% endif %}
  {% if post.image %}
  <div class="image ">
    <a href="/media/{{ post.image }}"><p>{{ post.heading }}</p></a>
    <img src="/media/{{ post.image }}" height="200px" width="200px">
  </div>
  {% endif %}
  {% if post.link %}
  <div class="link">
    <a href="{{post.link}}">Link to file   "{{post.heading}}"</a>
  </div>
  {% endif %}
  {% endfor %}

</div>
{% elif EventsResults %}
{% for post in EventsResults %}
<div class="post">
<a href="{% url 'clubs:new' post.post.post.pk %}"><h5>Club Name: {{post.post.post.heading}}</h5></a>
  <h6>Category: {{post.post.heading}}</h6>
  <div class=" new col-auto">
    <div class="">
     <p> {{post.heading}}</p>
   </div>
    <div class="circle">
      <p>{{post.date|date:"M dS"}}</p>
      <p>{{post.date|date:"D"}}</p>
      <p>{{post.time|time:"H:iA"}}</p>
    </div>
      {% if post.image %}
    <div class="">
       <img src="/media/{{ event.image }}" height="150px" width="150px">
    </div>
      {% endif %}
      {% if post.text %}
    <div class="">
      <p>{{post.text}}</p>
    </div>
      {% endif %}
  </div>
</div>
{% endfor %}
{% elif DetailsResults %}
{% for post in DetailsResults %}
<div class="post">
<a href="{% url 'clubs:new' post.post.pk %}"><h2>Club Name: {{post.post.heading}}</h2></a>
  <h5>Category: {{post.heading}}</h5>
</div>
{% endfor %}
{% else %}
<h4>No Results</h4>
{% endif %}
<p>Number of results: {{length}}</p>
{% endblock %}
