{% extends 'home/base.html' %}
{% load static %}
{% block main %}
<link rel="stylesheet" href="{% static 'mcq/css/questions.css' %}">
<div class="dropdown contents container-fluid">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  Contents</button>
   <div class="dropdown-menu list" aria-labelledby="dropdownMenuButton">
     <form class="  dropdown-item" method="get" action="{% url 'notes:search' %}" value = "{{ request.GET.q }}">
        <input class="form-control mr-sm-2" type="text" name="q" placeholder="Search" aria-label="Search" value="{{ request.GET.q }}">
        <div id="search">
          <button class="btn  my-2 my-sm-0 " type="submit" value="Search" >Search</button>
        </div>    </form>
    {% for sub in subjects %}
  <a class="dropdown-item" href="/mcq/{{ sub.heading }}">{{ sub.heading }} </a>
    {% endfor %}
  </div>
</div><div class="dropdown butt container-fluid">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  </button>
   <div class="dropdown-menu list" aria-labelledby="dropdownMenuButton">
     <form class="  dropdown-item" method="get" action="{% url 'mcq:search' %}" value = "{{ request.GET.q }}">
        <input class="form-control mr-sm-2" type="text" name="q" placeholder="Search MCQ's" aria-label="Search" value="{{ request.GET.q }}">
        <div id="search">
          <button class="btn  my-2 my-sm-0 " type="submit" value="Search" >Search</button>
        </div>
    </form>
    {% for topic in topics %}
    {% if topic.subject.heading == "ENT" %}
  <a class="dropdown-item" href="#{{ topic.pk }}">{{ topic.heading }} </a>
    {% endif %}
    {% endfor %}
  </div>
</div>
<div class="ff ">
  <h2>ENT</h2>
  <a href="{% url 'mcq:forms' %}"><b>You can also add Questions</b>
  <img src="/media/images/plus.png" height="10px" width="10px"></a>
</div>
<div class="topics container-fluid">
  {% for topic in topics %}
  {% if topic.subject.heading == "ENT" %}
  <div class="f container-fluid">
    <ol>
      <li>{{ topic.heading }}</li>
      <a href="{% url 'mcq:forms' %}">
      <img src="/media/images/plus.png" height="10px" width="10px"></a>
    </ol>
  </div>

  <div id="carouselExampleControls{{ topic.pk }}"  class="carousel slide mm " data-ride="carousel" data-interval = false>
    <div class="carousel-inner ">
      <div class="carousel-item active">
              <div class="questionOne">
                <p>Questions</p>
                <img src="/media/images/q.jpg" >
              </div>

      </div>
      {% for post in mcqs %}
      {% if post.topic.heading == topic.heading %}
      <div class="carousel-item">
          <div class="question ">
              <p>{{ post.question }}</p>
          </div>
          {% if post.image %}
          <div class="images ">
            <img  src="/media/{{ post.image }}" alt="First slide" >
          </div>
          {% endif %}

        <div class="wrapper ">
          <button class="btn  my-2 my-sm-0" type="submit" value="Search" >Answer</button>
        </div>
        <div class="answer ">
          <h3>Answer</h3>
          <p>{{ post.answer }}</p>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>

    <a class="carousel-control-prev" href="#carouselExampleControls{{ topic.pk }}" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls{{ topic.pk }}" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>

</div>
  {% endif %}
  {% endfor %}

  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'mcq/js/questions.js' %}">

</script>

{% endblock %}
