.batFif{
  display: none;
}
.batSix{
  display: none;
}
.batSeven{
  display: none;
}
.batEight{
  display: none;
}
.batNine{
  display: none;
}
.five{
}
.Introduction{
  text-align: center;
  font-family:"Comic Sans MS", cursive, sans-serif;
  margin: 40px 0 80px 0;
}
.academic {
  margin-top: 40px;
}
.text {
  margin: 40px 0 40px 0;
}
.Imp {
  background-color: #ffffe6;
  color: black;
  font-family:"Comic Sans MS", cursive, sans-serif;
  padding: 50px 0 50px 0;
}
.impHeading h4 {
  font-weight: bold;
}
.hospitalNews  {
  font-family:"Comic Sans MS", cursive, sans-serif;
  background-color: #e6e6ff ;
  padding: 50px 0 50px 0;
}
.hospitalNews h4 {
  font-weight: bold;
  font-size: 25px;
}

.campusNews{
  font-family:"Comic Sans MS", cursive, sans-serif;
  color: black;
  padding: 50px 0 50px 0;
  background-color: #ccffcc;
}
.campusNews h4 {
  font-weight: bold;
  font-size: 25px;
}


.nextPage{
  background-color: hsl(0, 2%, 23%);
  width: 100px;
  font-size: 15px;
  float: right;
}
.videos {
  display: inline;
  padding: 10px 40px 10px 10px;
}
