{% extends 'home/base.html' %}
{% load static %}
{% block main %}
<link rel="stylesheet" href="{% static 'notes/css/classNotes.css' %}">

<div class=" big">
  <div class="dropdown butt container-fluid">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Contents
    </button>
     <div class="dropdown-menu list" aria-labelledby="dropdownMenuButton">

      <ol>
      {% for sub in subjects %}
        <li>    <a class="dropdown-item" href="{% url 'notes:notes' sub.pk %}">{{ sub.heading }} </a></li>
      {% endfor %}
    </ol>

    </div>
  </div>
  <div class="sub">
      <h2>{{sub.heading}}</h2>
  </div>

  <div class="container-fluid subjects ">
    <div class="container-fluid ebooks">
      <h4>Ebooks   <a href="{% url 'notes:Epost' sub.pk %}"> <img src="/media/images/plus.png" height = "10px" width = "10px"> </a></h4>
      <div class="row">
        {% for post in Eposts %}
         <div class="col-auto col-sm-12 post ebook">
           {% if post.pdf %}
           <div class="pdf">
             <a href="/media/{{ post.pdf }}"><p>PDF LINK:   {{ post.heading }}</p></a>
           </div>
           {% endif %}
           {% if post.image %}
           <div class="image ">
             <a href="/media/{{ post.image }}"><p>{{ post.heading }}</p></a>
             <img src="/media/{{ post.image }}" height="200px" width="200px">
           </div>
           {% endif %}
           {% if post.link %}
           <div class="link">
             <a href="{{post.link}}">Link to file   "{{post.heading}}"</a>
           </div>
           {% endif %}
         </div>
        {% endfor %}
      </div>
    </div>
    <div id="loadMore6" class="down">
      <a href="#"><img src="/media/images/loadMore.png" height = "30px" width = "30px"></a>
    </div>
    <div class="container-fluid ebooks">
      <h4>Papers<a href="{% url 'notes:Ppost' sub.pk %}"> <img src="/media/images/plus.png" height = "10px" width = "10px"> </a></h4>
      <div class="row">
        {% for post in Pposts %}
        <div class="col-auto post paper">
          {% if post.pdf %}
          <div class="pdf">
            <a href="/media/{{ post.pdf }}"><p>PDF LINK:   {{ post.heading }}</p></a>
          </div>
          {% endif %}
          {% if post.image %}
          <div class="image ">
            <a href="/media/{{ post.image }}"><p>{{ post.heading }}</p></a>
            <img src="/media/{{ post.image }}" height="200px" width="200px">
          </div>
          {% endif %}
          {% if post.link %}
          <div class="link">
            <a href="{{post.link}}">Link to file   "{{post.heading}}"</a>
          </div>
          {% endif %}
        </div>
        {% endfor %}
      </div>
    </div>
    <div id="loadMore7" class="down">
      <a href="#"><img src="/media/images/loadMore.png" height = "30px" width = "30px"></a>
    </div>
    <div class="container-fluid ebooks">
      <h4>Lectures <a href="{% url 'notes:Lpost' sub.pk %}"> <img src="/media/images/plus.png" height = "10px" width = "10px"> </a></h4>
      <div class="row">
        {% for post in Lposts %}
        <div class="col-auto post lecture">
          {% if post.pdf %}
          <div class="pdf">
            <a href="/media/{{ post.pdf }}"><p>PDF LINK:   {{ post.heading }}</p></a>
          </div>
          {% endif %}
          {% if post.image %}
          <div class="image ">
            <a href="/media/{{ post.image }}"><p>{{ post.heading }}</p></a>
            <img src="/media/{{ post.image }}" height="200px" width="200px">
          </div>
          {% endif %}
          {% if post.link %}
          <div class="link">
            <a href="{{post.link}}">Link to file      "{{post.heading}}"</a>
          </div>
          {% endif %}
        </div>
        {% endfor %}
      </div>
    </div>
    <div id="loadMore8" class="down">
      <a href="#"><img src="/media/images/loadMore.png" height = "30px" width = "30px"></a>
    </div>
  </div>


</div>

{% endblock %}
{% block js %}
<script src="{% static 'home/js/home.js' %}" type="text/javascript">

</script>
{% endblock %}
