{% extends 'home/base.html' %}
{% load static %}
{% block main %}
<link rel="stylesheet" href="{% static 'notes/css/classNotes.css' %}">

<div class=" big">
  <div class="dropdown butt container-fluid">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Contents
    </button>
     <div class="dropdown-menu list" aria-labelledby="dropdownMenuButton">
       <form class="dropdown-item" method="get" action="{% url 'notes:search' %}" value = "{{ request.GET.q }}">
          <input class="form-control mr-sm-2" type="text" name="q" placeholder="Search" aria-label="Search" value="{{ request.GET.q }}">
          <button class="btn  my-2 my-sm-0 search" type="submit" value="Search" >Search</button>
      </form>
      <ol>
      {% for sub in subjects %}

        <li>    <a class="dropdown-item" href="#{{ sub.pk }}">{{ sub.heading }} </a></li>
      {% endfor %}
      </ol>
    </div>
  </div>

  <div class="sub">
      <h2>Subjects</h2>
      <a href="{% url 'notes:subject' %}"> <img src="/media/images/plus.png" height = "20px" width = "20px"> </a>
  </div>
  {% for subject in subjects%}
  <div class="container-fluid subjects ">
      <h3 id="{{ subject.pk }}">{{ subject.heading }}</h3>
    <div class="container-fluid ebooks">
      <h4>Ebooks   <a href="{% url 'notes:Epost' subject.pk %}"> <img src="/media/images/plus.png" height = "10px" width = "10px"> </a></h4>
      <div class="row">
        {% for post in Eposts %}
         {% if post.post == subject %}
         <div class="col-auto post ebook">
           {% if post.pdf %}
           <div class="pdf">
             <a href="/media/{{ post.pdf }}"><p>PDF LINK:   {{ post.heading }}</p></a>
           </div>
           {% endif %}
           {% if post.image %}
           <div class="image ">
             <a href="/media/{{ post.image }}"><p>{{ post.heading }}</p></a>
             <img src="/media/{{ post.image }}" height="200px" width="200px">
           </div>
           {% endif %}
           {% if post.link %}
           <div class="link">
             <a href="{{post.link}}">Link to file   "{{post.heading}}"</a>
           </div>
           {% endif %}
         </div>
         {% endif %}
        {% endfor %}
      </div>
    </div>
    <div id="loadMore6" class="down">
     <a href="#"><img src="/media/images/loadMore.png" height = "30px" width = "30px"></a>
    </div>
    <div class="container-fluid ebooks">
      <h4>Papers<a href="{% url 'notes:Ppost' subject.pk %}"> <img src="/media/images/plus.png" height = "10px" width = "10px"> </a></h4>
      <div class="row">
        {% for post in Pposts %}
        {% if post.post == subject %}
        <div class="col-auto post paper">
          {% if post.pdf %}
          <div class="pdf">
            <a href="/media/{{ post.pdf }}"><p>PDF LINK:   {{ post.heading }}</p></a>
          </div>
          {% endif %}
          {% if post.image %}
          <div class="image ">
            <a href="/media/{{ post.image }}"><p>{{ post.heading }}</p></a>
            <img src="/media/{{ post.image }}" height="200px" width="200px">
          </div>
          {% endif %}
          {% if post.link %}
          <div class="link">
            <a href="{{post.link}}">Link to file   "{{post.heading}}"</a>
          </div>
          {% endif %}
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
    <div id="loadMore7" class="down">
     <a href="#"><img src="/media/images/loadMore.png" height = "30px" width = "30px"></a>
    </div>
    <div class="container-fluid ebooks">
      <h4>Lectures <a href="{% url 'notes:Lpost' subject.pk %}"> <img src="/media/images/plus.png" height = "10px" width = "10px"> </a></h4>
      <div class="row">
        {% for post in Lposts %}
        {% if post.post == subject %}
        <div class="col-auto post lecture">
          {% if post.pdf %}
          <div class="pdf">
            <a href="/media/{{ post.pdf }}"><p>PDF LINK:   {{ post.heading }}</p></a>
          </div>
          {% endif %}
          {% if post.image %}
          <div class="image ">
            <a href="/media/{{ post.image }}"><p>{{ post.heading }}</p></a>
            <img src="/media/{{ post.image }}" height="200px" width="200px">
          </div>
          {% endif %}
          {% if post.link %}
          <div class="link">
            <a href="{{post.link}}">Link to file      "{{post.heading}}"</a>
          </div>
          {% endif %}
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
    <div id="loadMore8" class="down">
     <a href="#"><img src="/media/images/loadMore.png" height = "30px" width = "30px"></a>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
{% block js %}
<script src="{% static 'home/js/home.js' %}" type="text/javascript">

</script>
{% endblock %}
