{% extends 'home/base.html' %}
{% load static %}
{% block main %}
<link rel="stylesheet" href="{% static 'events/css/events.css' %}">
<div class="container-fluid main">
  <div class="lolo">
      <p>Subjects</p>
  </div>
  <div class="row">
    {% for sub in subjects %}
    <div class="col-auto post">
          <a  class="text" href="{% url 'notes:notes' sub.pk %}"><h4>{{ sub.heading }}</h4></a>
      {% if sub.image %}
        <img src="/media/{{ sub.image }}" height="200px" width="300px">
      {% endif %}
    </div>
    {% endfor %}
  </div>

</div>
{% endblock %}
