{% extends 'home/base.html' %}
{% load static %}
{% block main %}
<link rel="stylesheet" href="{% static 'events/css/events.css' %}">
  <!--div class="row">
    <div class="circle col-auto">
      <p>Apr.</p>
      <b>4th</b>
    </div-->
<div class="container-fluid">
  <div class="lolo">
    <p>Events</p>
  </div>
  <div class="grid-container ">
    {% for event in events %}
  <div class="grid-item">
    <div class="circle"><p>{{ event.month }}</p>
    <b>{{ event.date }}</b>
   </div>
   <div class="text">
    <a href="{% url 'events:details' %}"> <p>{{ event.heading }}</p></a>
     {% if event.image %}
     <img src="/media/{{ event.image }}" height="150px" width="150px">
     {% endif %}
     {% if event.text %}
     <p>{{ event.text }}</p>
     {% endif %}
   </div>
  </div>
  {% endfor %}


  </div>



{% endblock %}
